<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="../css/style.css" />
    <title>Sobre mí</title>
  </head>
  <body>

    <head>
      <div class="cabecera">
        <img src="../img/logo-batman.png" alt="logo" />
      </div>
    </head>

    <main>
      <section>
        <nav class="menu">
          <ul>
            <li class="item-menu">
              <a href="../index.html">Inicio</a>
              <span class="espacio-horizontal"></span>
            </li>
            <li class="item-menu">
              <span class="espacio-horizontal"></span>
              <a href="../views/sobremi.html">Sobre mí</a>
            </li>
          </ul>
        </nav>
      </section>
      <section class="titulo">
        <h1>Sobre mí</h1>
      </section>
      <div class="separacion"></div>
      <section>
        <p class="parrafo"> 
          ¡Saludos, ciudadanos de la red! Soy Batman, el protector de Ciudad
          Gótica. Detrás de la capa y la máscara se encuentra Bruce Wayne, un
          hombre que ha dedicado su vida a combatir el crimen y buscar la
          justicia en un mundo oscuro. Mi trayectoria comenzó tras presenciar el
          asesinato de mis padres, lo que me impulsó a transformarme en el
          vigilante enmascarado que todos conocen. Con habilidades de combate y
          una mente estratégica, he enfrentado a los peores villanos,
          defendiendo a los inocentes y llevando esperanza a mi ciudad. Mi lema
          es claro: "Soy la sombra que protege a los indefensos".
        </p>
      </section>
      <div class="separacion"></div>
    </main>

    <footer>
      <span class="texto-footer">Batman - 2023</span>
      <a href="https://www.instagram.com/veritomel14/" class="enlace-redes">
        <span class="espacio-horizontal"></span>
        <img src="../img/ico_instagram.svg" alt="icono-instagram">
      </a>
      <a href="https://www.linkedin.com/in/veronica-melgarejo/" class="enlace-redes">
        <span class="espacio-horizontal"></span>
        <img src="../img/ico_linkedin.svg" alt="icono-linkedin">
      </a> 
      <a href="https://github.com/VeroDev14" class="enlace-redes">
        <span class="espacio-horizontal"></span>
        <img src="../img/ico_github.svg" alt="icono-github">
      </a> 
    </footer>
  </body>
</html>
